.grid-containerr{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 2rem;
}

.product img{
  width: 100%;
}
.inputs{
  border: none;
  border-bottom: 1px solid #BFBFBF;
  border-radius: 0;
  color:black;
  background: transparent;
  padding: 22px 90px 8px 15px;
  outline: none;
}

.droptowns{
  display: flex;
  justify-content: center;
  gap: 0.2rem;
}
.product{
  margin: 0;
  cursor: pointer;
}
.special-price{
  text-decoration: line-through;
}
.special-span{
  margin-left: 1rem;
}

@media (max-width:768px){
  .btn-group .btn{
    font-size: 1.1rem;
    padding-bottom: 1rem;
  }
  .droptowns{
    gap: 1.7rem;
  }
  .inputs{
    border: none;
    border-bottom: 1px solid #BFBFBF;
    border-radius: 0;
    color:black;
    background: transparent;
    padding: 22px 90px 8px 15px;
    outline: none;
    width: 9rem;
  }
  .button{
    margin-bottom: 1rem;
  }
}